html {
  font-family: src="SourceCodePro-Regular.ttf";
  color: rgb(255, 255, 255)
}
body {
  background-color: rgb(0, 0, 0)
}
.button {
  font-size: 16px
  cursor: pointer;
}
.button2 {
  border-radius: 15px;
  background-color: gray; 
  width: 70px;
  hieght: 40px;
  color: white;
  transition-duration: 0.4s;
}

.button2:hover {
  border-radius: 5px;
  background-color: green; 
  width: 80px;
  hieght: 45px;
  color: black;
  transition-duration: 0.4s;
}
